/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.hero {
  min-height: calc(100vh - var(--ifm-navbar-height));
  padding-top: 20vh;
  padding-bottom: 20vh;
  display: flex;
  align-items: center;
}

.buttons {
  padding-left: 30px;
}

.button {
  margin-bottom: 20px;
}
